body {
	margin: 0;
  }
  #container {
	max-width: 100%;
	height: 1000px;
	margin: auto;
	background-color: rgba(157, 157, 157, 0.674);
	padding: 10px;
}
  .fruits-style {
	width: 100px;
	height: 100px;
	color: white;
	margin: 5px;
	text-align: center;
  }

  button {
	width: 100px;
	height: 40px;
  }

  #output {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }

  h1 {
	text-align: center;
	color: white;
	background-color:blue;
  }
  hr {
	border: 2px solid rgb(152, 152, 152);
  }