body {
	margin: 0;
  }

  #container {
	max-width: 80%;
	height: 100vh;
	margin: auto;
	background-color: rgba(157, 157, 157, 0.674);
	padding: 10px;
/*	display: flex;*/
/*	flex-direction: column;*/
  overflow: auto;
}
  .fruits-style {
	max-width: 200px;
	height: 200px;
	color: white;
	margin: 5px;
	text-align: center;
  }

  button {
	max-width: 100px;
	height: 40px;
  }

  #output {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }

  #Header {
  	display: block;
  	max-width: 200px;
  	height: auto;
	text-align: center;
	margin: auto;
	color: white;
	background-color:blue;
  }


  #error-header {
  	text-align: center;
  	color: white;
    text-shadow: 2px 4px 10px black;
  }

  hr {
	border: 2px solid rgb(152, 152, 152);
  }

  #food-search {
  	margin: auto;
  	max-width: 50%;
  	height: 20px;
    padding: 5px;
    font-size: 1rem;
    outline-width: 0;
    border-width: 0;
  }


#big-container {
	width: 100%;
	height: auto;
	padding: 10px;
}

.style {
	width: 500px;
	height: 500px;

}